html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("https://t4.ftcdn.net/jpg/08/62/72/61/240_F_862726142_aQD4BfWwUvebl1obq0FiW3ON5f0iSqMv.jpg");
  font-family: Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  margin: 70px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #87668f;
}
.form-container {
  padding: 15px 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
}
#input {
  padding: 15px;
  border-radius: 50px;
  border: 2px solid #87668f;
  width: 70%;
  font-size: 16px;
  line-height: 20px;
}

#submit {
  margin-left: 5px;
  border-radius: 50px;
  border: none;
  width: 100px;
  background: #87668f;
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
  padding: 14px 20px;
}
main {
  margin-bottom: 30px;
}
.poem {
  font-size: 16px;
  padding: 20px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  background-color: #fff;
  border-left: 5px solid #87668f;
}
.poem strong {
  color: #53b3e0;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: rgba(225, 219, 243, 0.8);
}
a {
  color: #87668f;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s infinite;
  font-size: 16px;
}
